<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="padding-bottom:15px;">
    <%= form.label :title, style: "display: block;padding-bottom:5px;" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group" style="padding-bottom:15px;">
    <%= form.label :description, style: "display: block;padding-bottom:5px;" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group" style="padding-bottom:15px;">
    <%= form.label :header_image, style: "display: block;padding-bottom:5px;" %>
    <%= form.file_field :header_image, class: 'form-control' %>
    <div class="mt-2">
      <small>Current image:</small>
      <% if post.header_image.present? %>
        <%= image_tag(post.header_image, width: '100%', height: '150px') %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary w-100' %>
  </div>
<% end %>
